<nav>
    <div class="logo">
        <img src="../../../assets/images/Logo.png" alt="">
    </div>
    <div class="user">
        <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
          <div>

              <a href=""><img src="https://media.licdn.com/dms/image/C5603AQH81oTGbDpaGg/profile-displayphoto-shrink_800_800/0/1645702484012?e=2147483647&v=beta&t=cOAcBHSHaDF9vVMdYX0K5bVVGIDCDjc-xF8ILv_1New" alt=""></a>
          </div>
          <div>

              <h1>Arekesh</h1>
          </div>
          <div>

              <i class="fa fa-bell" ></i>
          </div>
          <div>

              <button>Logout</button>
          </div>
    </div>

</nav>
